{% include 'admin/partials/header' %}
<!-- start: Content -->
<div id="content" class="col-sm-11">
    <a class="btn btn-info delete-news pull-right" style="margin-bottom: 30px;" href="admin/hubs/add">
        <i class="fa fa-pencil"></i> Create Hub
    </a>
    <div class="clearfix"></div>

    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th style="width:45%">
                Description
            </th>
            <th>
                Location
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for h in hubs %}
            <tr>
                <td>
                    {{ h.name }}
                </td>
                <td>
                    {{ h.description }}
                </td>
                <td>
                    {{ h.location }}
                </td>
                <td>
                    <a class="btn btn-primary" href="/admin/hubs/edit/{{ h.id }}/"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>








</div>
<!-- end: Content -->


</div>
<!--/row-->
</div>





<div class="clearfix">
</div>

<footer>

    <div class="row">

        <div class="col-sm-5">
            &copy; 2014
            <a href="https://musicequity.com">
                Music Equity
            </a>
        </div>
        <!--/.col-->

        <div class="col-sm-7 text-right">

        </div>
        <!--/.col-->

    </div>
    <!--/.row-->

</footer>

<!-- start: JavaScript-->
<!--[if !IE]>
-->

<script src="assets/admin/js/jquery-2.1.0.min.js">
</script>

<!--
<![endif]-->

<!--[if IE]>

<script src="assets/admin/js/jquery-1.11.0.min.js">
</script>

<![endif]-->

<!--[if !IE]>
-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/admin/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
</script>

<!--
<![endif]-->

<!--[if IE]>

<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/admin/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
</script>

<![endif]-->
<script src="assets/admin/js/jquery-migrate-1.2.1.min.js">
</script>
<script src="assets/admin/js/bootstrap.min.js">
</script>


<!-- page scripts -->
<script src="assets/admin/js/jquery-ui-1.10.3.custom.min.js">
</script>

<script src="assets/admin/js/jquery.dataTables.min.js"></script>
<script src="assets/admin/js/dataTables.bootstrap.min.js"></script>

<!-- theme scripts -->
<script src="assets/admin/js/custom.min.js">
</script>
<script src="assets/admin/js/core.min.js">
</script>

<script>
    $(document).ready(function(){
        /* ---------- Datable ---------- */
        $('.datatable').dataTable({
            "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            }
        });
    });
</script>

<!-- end: JavaScript-->

</body>
</html>