<div id="cd-shadow-layer"></div>

<div id="cd-cart">
    <h2>Cart</h2>
    <ul class="cd-cart-items">
        <!--<li>
            <span class="cd-qty">1x</span> Song Name
            <div class="cd-price">$9.99</div>
            <a href="#0" class="cd-item-remove cd-img-replace"></a>
        </li> -->

    </ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
        <p>Total <span></span></p>
    </div>

    <a href="checkout" class="checkout-btn">Checkout</a>

</div> <!-- cd-cart -->