.modal-content {
  background: none !important;
  @include border-radius(0px, 0px);
  border:none;
  @include box-shadow(#fff 0px 0px 0px);
}
.modal-header {
  padding:0px 0px 10px 0px;
  border:none;
  font-family: BlissProRegular, Verdana;
  color: #f9f9f9;
  text-transform: uppercase;
  font-size: 15px;
}
.modal-body {
  padding: 20px 25px 20px 30px;
  background-color:#f9f9f9;
  height:100%;
  font-family: BlissProRegular, Verdana;
  font-size:14px;
  color:$font-form-color;
}
.close {
  color:#f9f9f9;
  opacity: 1;
  &:hover {
    color:#f2dede;
  }
}