<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Great News<br />
A customer of Music Equity has just bought a song<br />
From Artist - {{ artist }}<br />
Song was bought for the full amount of - {{ song_cost }}<br />
and a donation of - {{ sum }}<br />
was contribution to - {{ charity }}
</body>
</html>