<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Great News<br />
A customer of Music Equity has just bought a song<br />
from an artist that believes in your cause.<br />
In turn a donation has been made towards your fundraising efforts.<br />
You can log into your page for an update of contributions to date<br />
To keep this success growing be sure to tell everyone about your Music Equity page<br />
&nbsp;<br />
For any help or enquiries contact Music Equity<br />
at <a href="mailto:charity-payments@musicequity.com">charity-payments@musicequity.com</a><br />
Or <a href="mailto:info@musicequity.com">info@musicequity.com</a>
</body>
</html>