<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Congratulations you've bought your album on Music Equity Pty. Ltd. <br />
{% for url in link %}
<a href="{{ base_url }}download/{{ url }}">Click Here to Download</a> <br />
{% endfor %}
Tell the world to support you through all your networks <br/>
</body>
</html>