<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Congratulations you've bought your song(s) on Music Equity Pty. Ltd. <br />
<a href="{{ base_url }}download/{{ link }}">Click Here to Download</a> <br />
Tell the world to support you through all your networks <br/>
</body>
</html>