<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Congratulations you've sold your song(s) on Music Equity Pty. Ltd. <br />
    Keep up the great work - make sure your profile is up to date <br/>
    Tell the world to support you through all your networks <br/>
</body>
</html>