<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Music Equity - 500</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/stylesheets/styles.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
    <!- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67536514-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<section class="main" style="display:flex; width: 100%; height: 100%; position: absolute; margin:0 !important;">
    <div class="not-found" style="margin:auto auto; width:45%; text-align: center;">
        <a href="/" style="margin:0 auto; display: block; text-align: center"><img style="margin:0 auto;" class="img-responsive" src="/assets/images/logo.png" alt="Music Equity"/></a>
        <div class="white-box" style="width:90%; margin:0 auto; background-color: #f9f9f9; padding:40px; margin-top:40px;">
            <h1 style="font-size:7rem;"><span class="glyphicon glyphicon-link"></span></h1>
            <h1 style="font-family: BlissProBold; font-size:8rem;">500</h1>
            <span class="muted" style="color:#7c8795;">
                <h3 style="text-transform: uppercase; font-family: BlissProBold; color: #7c8795">server error!</h3>
                <p style="font-size: 2rem; padding-top:10px;">
                    Sorry, but the requested page is unavailable due to a server hiccup. <br />
                    Our engineers have been notified, so check back later.
                </p>
                <a href="/" class="btn btn-blue">Return Home</a>
            </span>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/assets/javascripts/bootstrap.js"></script>
<script src="/assets/javascripts/backstretch.min.js"></script>
<script src="/assets/javascripts/main.js"></script>
</body>
</html>